1. Allow the user to enter an address and the app returns a latitude and longitude of the address. (5p)
2. This address/longitude and latitude is then placed on a map shown to the user. (5p)
--
3. Location information of the phone shows the longitude and latitude. (5p)
4. This is then used to place a marker on a map to show the user. (5p)
--
5. Get the distance between two points. (10p)
6. Get directions between two markers. (10p)
--
7. User can put a marker in a location and information about that location. (10p)  --> Here is a grade 5
8. Add images about a location. (10p)
--
9. Views others information from the database (20p)


I have 20 from the first exercise meaning I need 50 to get a 5.

---
Documentation
---
https://developers.google.com/maps/documentation/javascript/
https://developers.google.com/maps/documentation/geocoding/start
https://developers.google.com/maps/documentation/static-maps/
https://developers.google.com/places/web-service/
https://developers.google.com/maps/documentation/javascript/mysql-to-maps
https://developers.google.com/maps/documentation/javascript/information-Windows-to-db
https://github.com/mapsplugin/cordova-plugin-googlemaps-doc/tree/master/v1.4.0/class/Map


API KEY: AIzaSyCVYauFMf2WENMc2WRYxRpco4luGzmfmII

-> Requests to GeoCode:
https://maps.googleapis.com/maps/api/geocode/json?address=St+Endas+Park&key=AIzaSyCVYauFMf2WENMc2WRYxRpco4luGzmfmII

